<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingqing.stock_analyse.dao.analyse.StockPulseResultMapper" >
  <resultMap id="BaseResultMap" type="com.qingqing.stock_analyse.domain.result.StockPulseResult" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stock_code" property="stockCode" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="open_incr" property="openIncreasePercent" jdbcType="DOUBLE" />
    <result column="close_incr" property="closeIncreasePercent" jdbcType="DOUBLE" />
    <result column="max_incr" property="maxIncreasePercent" jdbcType="DOUBLE" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List">
    id, stock_code, date, open_incr, close_incr, max_incr, create_time, last_update_time
  </sql>

  <insert id="insertIgnore" useGeneratedKeys="true" keyProperty="id"  keyColumn="id"
           parameterType="com.qingqing.stock_analyse.domain.result.StockPulseResult" >
    insert ignore into t_trade_pulse (
      stock_code,
      date,
      open_incr,
      close_incr,
      max_incr,
      is_deleted,
      create_time
      )
    values (
      #{stockCode,jdbcType=INTEGER},
      #{date,jdbcType=DATE},
      #{openIncreasePercent,jdbcType=DOUBLE},
      #{closeIncreasePercent,jdbcType=DOUBLE},
      #{maxIncreasePercent,jdbcType=DOUBLE},
      0,
      now()
      )
  </insert>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid = "Base_Column_List"></include>
    from t_trade_pulse
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findAllByDate" resultMap="BaseResultMap">
    select
    <include refid= "Base_Column_List"></include>
    from t_trade_pulse
    where
    date = #{date,jdbcType=DATE}
  </select>
</mapper>