<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingqing.stock_analyse.dao.analyse.StockCodeMapper">
    <resultMap id="BaseResultMap" type="com.qingqing.stock_analyse.domain.StockCode">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="stock_code" property="stockCode" jdbcType="VARCHAR"/>
        <result column="stock_name" property="stockName" jdbcType="VARCHAR"/>
        <result column="stock_market" property="stockMarket" javaType="StockMarket"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
         id, stock_code, stock_name, stock_market, create_time, last_update_time
      </sql>

    <insert id="insertIgnore" parameterType="com.qingqing.stock_analyse.domain.StockCode">
    insert ignore into t_stock (
      stock_code,
      stock_name,
      stock_market,
      create_time
      )
    values (
     #{stockCode,jdbcType=VARCHAR},
     #{stockName,jdbcType=VARCHAR},
     #{stockMarket,jdbcType=TINYINT},
     now()
      )
  </insert>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"></include>
        from t_stock
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from t_stock
    </select>
</mapper>